@layer typography {
    @font-face {
        font-family: Poppins;
        src: url(/4/poppins.ttf) format(truetype);
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: Poppins;
        src: url(/7/poppins.ttf) format(truetype);
        font-weight: 700;
        font-style: normal;
    }

  
    :root {
        --font-family-heading: Poppins;
        --font-family-body: Poppins;

        /* ----------------------------------------------------------------
        width: 320, font-size: 16, type-scale: 1.2
        width: 1440, font-size: 18, type-scale: 1.333

        @link https://utopia.fyi/type/calculator/?c=320,16,1.2,1440,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
        ---------------------------------------------------------------- */
        --font-size-200:  clamp(0.6331rem, 0.8348rem + -0.2241vw, 0.79rem);
        --font-size-300:  clamp(0.8438rem, 0.9016rem + -0.0643vw, 0.8888rem);
        --font-size-400: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
        --font-size-500: clamp(1.125rem, 1.018rem + 0.5348vw, 1.4994rem);
        --font-size-600: clamp(1.2656rem, 1.0562rem + 1.0473vw, 1.9988rem);
        --font-size-700: clamp(1.4238rem, 1.0693rem + 1.7723vw, 2.6644rem);
        --font-size-800: clamp(1.6019rem, 1.0447rem + 2.7857vw, 3.5519rem);
        --font-size-900: clamp(1.8019rem, 0.9638rem + 4.1902vw, 4.735rem);

        --font-size: var(--font-size-400);
        --font-weight: normal;
        --line-height: 1.5;
    }

    :where(:root) {
        font-family: var(--font-family-body);
        font-size: var(--font-size);
    }

    h1,
    h2,
    h3 {
        --font-weight: bolder
    }

    h1 {
        --font-size: var(--font-size-900);
    }

    h2 {
        --font-size: var(--font-size-800);
    }

    h3 {
        --font-size: var(--font-size-700);
    }

    h4 {
        --font-size: var(--font-size-600);
    }

    h5 {
        --font-size: var(--font-size-500);
    }

    h6 {
        --font-size: var(--font-size-400);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        font-family: var(--font-family);
    }

    address,
    blockquote,
    dl,
    figure,
    form,
    ol,
    p,
    pre,
    table,
    ul {
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        font-style: normal;
        margin-top: 0;
    }

    small,
    sub,
    sup {
        --font-size: var(--font-size-200);
    }

    small,
    sub,
    sup {
        font-size: var(--font-size);
    }

    b,
    strong {
        font-weight: bolder;
    }

    /* utilities */

    .text-xs {
        font-size: var(--font-size-200);
    }

    .text-sm {
        font-size: var(--font-size-300);
    }

    .text-base {
        font-size: var(--font-size-400);
    }

    .text-lg {
        font-size: var(--font-size-500);
    }

    .text-xl {
        font-size: var(--font-size-600);
    }

    .text-2xl {
        font-size: var(--font-size-700);
    }

    .text-3xl {
        font-size: var(--font-size-800);
    }

    .text-4xl {
        font-size: var(--font-size-900);
    }

    .font-normal {
        font-weight: 400;
    }

    .font-bold {
        font-weight: 700;
    }
}