/* ----------------------------------------------------------------
width: 320, font-size: 16, type-scale: 1.125 (major second)
width: 1440, font-size: 20, type-scale: 1.25 (major third)

@link https://utopia.fyi/type/calculator?c=320,16,1.125,1440,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 

Letter Spacing recommendation

@link https://theappbusiness.github.io/accessibility-guidelines/guidelines/1.4.12.html
---------------------------------------------------------------- */
@layer typography {
    @font-face {
        font-family: Poppins;
        src: url(/4/poppins.ttf) format(truetype);
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: Poppins;
        src: url(/7/poppins.ttf) format(truetype);
        font-weight: 700;
        font-style: normal;
    }

    :root {
        --font-family-heading: Poppins;
        --font-family-body: Poppins;

        --font-size-200: clamp(0.6331rem, 0.7119rem + -0.0875vw, 0.6944rem);
        --font-size-300: clamp(0.8331rem, 0.8301rem + 0.0152vw, 0.8438rem);
        --font-size-400: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
        --font-size-500: clamp(1.2rem, 1.1145rem + 0.4277vw, 1.4994rem);
        --font-size-600: clamp(1.44rem, 1.2804rem + 0.7982vw, 1.9988rem);
        --font-size-700: clamp(1.7281rem, 1.4606rem + 1.3375vw, 2.6644rem);
        --font-size-800: clamp(2.0738rem, 1.6514rem + 2.1116vw, 3.5519rem);
        --font-size-900: clamp(2.4881rem, 1.8462rem + 3.2098vw, 4.735rem);

        --font-size: var(--font-size-400);
        --font-weight: normal;
        --line-height: 1.5;
        
        /* --letter-spacing: .012rem; */
        /* --word-spacing: .016rem; */
    }

    :where(:root) {
        font-family: var(--font-family-body);
        font-size: var(--font-size);
    }

    h1,
    h2,
    h3 {
        --font-weight: bolder
    }

    h1 {
        --font-size: var(--font-size-900);
    }

    h2 {
        --font-size: var(--font-size-800);
    }

    h3 {
        --font-size: var(--font-size-700);
    }

    h4 {
        --font-size: var(--font-size-600);
    }

    h5 {
        --font-size: var(--font-size-500);
    }

    h6 {
        --font-size: var(--font-size-400);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        font-family: var(--font-family);
    }

    address,
    blockquote,
    dl,
    figure,
    form,
    ol,
    p,
    pre,
    table,
    ul {
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        font-style: normal;
        margin-top: 0;
    }

    small,
    sub,
    sup {
        --font-size: var(--font-size-200);
    }

    small,
    sub,
    sup {
        font-size: var(--font-size);
    }

    b,
    strong {
        font-weight: bolder;
    }
}