@layer composition {
    :where(main, .wrapper) {
        width: min(100% - 3rem, 75ch);
        margin-inline: auto;
    }

    :where(article, .flow) > * + * {
        margin-top: 1em;
    }

    body {
        min-height: 100vh;
        min-height: 100dvh;
        display: grid;
        grid-template-columns: auto 1fr auto;
    }
}