@font-face {
    font-family: Poppins;
    src: url(/4/poppins.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url(/7/poppins.ttf) format(truetype);
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: Poppins;
    color: cornsilk;
    background-color: darkslategrey;
}

h1 {
    font-weight: normal;
}

p {
    font-weight: bolder;
}